<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <a href="/logout">Logout</a>
<h2>Products</h2>
<a href="/admin/products/add">Add Product</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
            <tr>
                <td><%= product.name %></td>
                <td><%= formatCurrency(product.price) %></td>
                <td><%= product.stock %></td>
                <td>
                    <a href="/admin/products/<%= product.id %>/edit">Edit</a>
                    <a href="/admin/products/<%= product.id %>/delete">Delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
<h2>Categories</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>SKU </th>
        </tr>
    </thead>
    <tbody>
        <% categoryStats.forEach(category => { %>
            <tr>
                <td><%= category.name %></td>
                <td><%= category.dataValues.productCount %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<h2>Transactions</h2>
<p>Total Transactions: <%= transactions[0].dataValues.totalTransaction %></p>
<p>Total Income: <%= formatCurrency(transactions[0].dataValues.totalIncome) %></p>
<p>Highest Transaction: <%= formatCurrency(transactions[0].dataValues.highestTransaction) %></p>
<p>Lowest Transaction: <%= formatCurrency(transactions[0].dataValues.lowestTransaction) %></p>
<p>Average Transaction: <%= formatCurrency(transactions[0].dataValues.averageTransaction) %></p>
<a href="/admin/showTransaction">View All Transactions</a>

<h2>User Statistics</h2>
<table>
    <thead>
        <tr>
            <th>Gender</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <% userStats.forEach(stat => { %>
            <tr>
                <td><%= stat.gender %>: </td>
                <td><%= stat.dataValues.total %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<a href="/admin/showUsers">View All Users</a>

</body>
</html>