<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout') %>
<h1><%= product.name %></h1>
<img src="<%= product.imageURL %>" alt="photoProduct" width="100px">
<p>Price: <%= formatCurrency(product.price) %></p>
<p>Description: <%= product.description %></p>
<p>Stock: <%= product.stock %></p>
<p>Status: <%= product.showStatus() %></p>
<a href="/products/<%= product.id %>/shop">Buy Now</a>
</body>
</html>