<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a href="/products" class="btn btn-primary">Back to Home</a>

<h1>Your Balance : <%= formatCurrency(user.balance) %></h1>

    <h1>Purchase Product</h1>
    <h2>Shipping Details</h2>

<p>Your Name : <%= user.name %></p>
<p>Your Phone Number: <%= user.phoneNumber %></p>
<p>Your Address: <%= user.address %></p>
<p>Product Purchase: <%= product.name %></p>
<p>Price: <%= formatCurrency(product.price) %></p>
<form action="/products/<%= product.id %>/shop" method="POST">
    <button type="submit">Pay Now</button>
</form>
</body>
</html>
